<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest')}}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 react-flask Boilerplate.</p>
  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.7.1.min.js')}} "></script>
  <script src="{{ url_for('static', filename='static/node_modules/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!--
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  -->
</body>

</html>
